<div class="container-fluid footer pt-5">
    <div class="container pt-4 pb-2">
        <div class="row">
            <div class="col-lg-4 col-md-4 pl-4"><b>Discover</b>
                <ul class="list-unstyled mt-3">
                    <li><a href="">Home</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">News</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Demos</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 pl-4"><b>Categories</b>
                <ul class="list-unstyled mt-3">
                    <li><a href="">News</a></li>
                    <li><a href="">Technology</a></li>
                    <li><a href="">Games</a></li>
                    <li><a href="">Cars</a></li>
                    <li><a href="">Funny</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 pl-4"><b>Recents</b>
                <ul class="list-unstyled mt-3">
                    <li><a href="">Fusce nulla ac lingula</a></li>
                    <li><a href="">Lorem ipsum dolor</a></li>
                    <li><a href="">Consecteur adipiscing</a></li>
                    <li><a href="">Integer in viverra</a></li>
                    <li><a href="">Duis euismond erat ut lingula</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container py-4">
        <div class="copyright text-center">Copyright © 2018 Cakery Bootstrap 4 Theme. All rights reserved.</div>
    </div>
</div>
