//Roots
$dark: black;
$theme: #3452ff;
$light: #f3f5fe;
$danger: #ff1053;
$grey: #F2F2F2;

$shadow: 0 5px 30px rgba(0, 0, 0, 0.16);

$heading: 'Google Sans', sans-serif;
$content: 'Roboto', sans-serif;
$condensed: 'Roboto Condensed', sans-serif;