@import 'roots';

@import url('https://fonts.googleapis.com/css?family=Google+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,700');

// General
body {
    font-family: $heading;
}

a {
    color: black;
    transition: 0.15s ease-in-out;
    &:hover {
        color: $theme;
        text-decoration: none;
    }
}

.main {
    a {
        padding-bottom: 0.5em;
        border-bottom: 2px solid white;
        &:hover {
            border-bottom: 2px solid $theme;
        }
    }
}

.rounded {
    border-radius: 5px;
}

.btn-rounded {
    border-radius: 100px;
    background-color: $theme;
    color: white;
    display: inline-flex;
    align-items: center;
    padding: 0.375rem 0.92rem;
    &:hover {
        background-color: white;
        color: $theme;
        box-shadow: $shadow;
    }
}

.forward {
    background-color: rgba(255, 255, 255, 0.22);
    position: relative;
    left: 5px;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    line-height: 34px;
}

.sh {
    box-shadow: $shadow;
}

.logo {
    height: 84px;
    overflow: hidden;
    background-image: url('../images/logo.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.hero {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('../images/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: $shadow;
    display: flex;

}

.hero-content {
    margin: auto;
    max-width: 500px;
}

.article-img {
    width: inherit;
    height: 100%;
}

.tag {
    color: $theme;
    font-family: $condensed;
}

.tag-sidebar {
    color: $theme;
    background-color: $light;
    border-radius: 100px;
    padding: 0.25em 0.7em;

    &:hover {
        background-color: $theme;
        color: white;
    }
}

.sidebar {
    position: sticky;
    top: 0;
    margin-top: -1.5rem;
    height: fit-content;
}

.page-link {
    border: none;

    &:hover {
        background: none;
    }
}

.footer {
    background-color: $grey;

    li {
        margin-bottom: 1em;
    }

    .copyright {
        font-size: 14px;
    }
}
