<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'twig/head/metas.twig' with {
    title: "Cakery",
    description: "Description",
    keywords: "kek, cebu, rek"
    } %}
    {% include 'twig/head/head.twig' %}
</head>

<body>
    <div class="container">
        {% include 'twig/body/header/header.twig' %}
        {% include 'twig/body/content/hero.twig' %}
        <div class="row mt-5">
            <div class="col-lg-8">
                {% include 'twig/body/content/blocks/article.twig' %}
                {% include 'twig/body/content/blocks/article.twig' %}
                {% include 'twig/body/content/blocks/article.twig' %}
                {% include 'twig/body/content/blocks/article.twig' %}
                {% include 'twig/body/content/blocks/article.twig' %}
                {% include 'twig/body/content/blocks/article.twig' %}
                {% include 'twig/body/content/blocks/pagination.twig' %}
            </div>
            {% include 'twig/body/content/sidebar.twig' %}
        </div>
    </div>
    {% include 'twig/body/footer/footer.twig' %}
</body>

</html>
