<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'twig/head/metas.twig' with {
    title: "Cakery",
    description: "Description",
    keywords: "kek, cebu, rek"
    } %}
    {% include 'twig/head/head.twig' %}
</head>

<body>
    <div class="container">
        {% include 'twig/body/header/header.twig' %}
        {% include 'twig/body/content/stylesheet.twig' %}
    </div>
    {% include 'twig/body/footer/footer.twig' %}
</body>

</html>
