<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>{{ title }}</title>
<meta property="title" content="{{ title }}">
<meta property="description" content="{{ description }}">
<meta name="keywords" content="{{ keywords }}" />