
    <div class="row">
        <div class="col-12">
            <div class="hero">
                <div class="hero-content mx-5 text-light my-auto">
                    <h1>Lorem ipsum dolor sit amet</h1>
                    <p class="mb-5">Mauris vel tortor accumsan, faucibus 
orci non, varius turpis. Aenean ac eros 
libero. Quisque quis sapien in ante 
scelerisque volutpat.</p>
                {% include "blocks/button.twig" with {
                    'text': "Read More",
                    'display': "inline-block"
                    }%}
                </div>
            </div>
        </div>
    </div>
