<div class="col-lg-4 sidebar mb-5">
    <div class="trending mt-4 mb-5">
        <h5 class="my-4">What's trending</h5>
        <img class="img-fluid rounded " src="https://picsum.photos/1600/900" alt="">
        {% include "blocks/sidebar_flash.twig" %}
        {% include "blocks/sidebar_flash.twig" %}
    </div>
    <div class="recents">
        <h5 class="mb-4">Recent Articles</h5>
        {% include "blocks/sidebar_recent.twig" %}
        {% include "blocks/sidebar_recent.twig" %}
        {% include "blocks/sidebar_recent.twig" %}
    </div>
    <div class="tags">
        <h5>Tags</h5>
        {% include "blocks/sidebar_tags.twig" %}
    </div>
</div>
