<header class="my-4">
    <div class="navbar navbar-light">
        <div class="container d-flex justify-content-between">
            <a href="index.html" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
                    <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                    <circle cx="12" cy="13" r="4"></circle>
                </svg>
                <strong>Album</strong>
            </a>
            <nav class="nav main">
                <li class="nav-item mr-5 active"><a href="index.html">Home<span class="sr-only">(current)</span></a></li>
                <li class="nav-item mr-5"><a href="stylesheet.html">Style Sheet</a></li>
                <li class="nav-item"><a href="">Pricing</a></li>
            </nav>
        </div>
    </div>
</header>
